* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: .9rem;
  letter-spacing: .1rem;
  background-color: #7d94cb;
  color: #f5f5f5;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}

body, button, select {
  font-family: 'Open Sans', sans-serif;
}

a { color: #8b8; }

a:hover, a:active {
  color: #7a7;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ol li { margin-bottom: .5em; }

button {
  padding: .5em 2em;
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, .5);
  border: none;
  border-bottom: 2px solid transparent;
  transition: all .5s;
}

button:hover, button:focus {
  background-color: rgba(0, 0, 0, .8);
  border-bottom-color: rgba(255, 255, 255, .8);
}

button:active {
  border-color: #000;
}

.content {
  margin: 0 auto;
  width: 80%;
  max-width: 720px;
  padding: 2rem 0;
}

.main {
}

.header {
  background-color: rgba(0, 0, 0, .94);
}

.main-heading {
  margin: 0;
  padding: 0;
  color: #7d94eb;
  font-family: 'Rammetto One', serif;
  font-weight: normal;
  font-size: 3em;
  letter-spacing: -0.05em;
  line-height: 1rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 3px 0px rgba(255, 255, 255, .2);
}

.user-input {
  background-color: rgba(255, 77, 77, .7);
}

.paragraph {
  position: relative;
  display: block;
  margin: 0 0 1.5em;
  -webkit-transition: 575ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 575ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 575ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 575ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 575ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.paragraph.ng-enter, .paragraph.ng-move {
  -webkit-transform: rotateX(90deg) rotateZ(90deg);
  -moz-transform: rotateX(90deg) rotateZ(90deg);
  -ms-transform: rotateX(90deg) rotateZ(90deg);
  -o-transform: rotateX(90deg) rotateZ(90deg);
  transform: rotateX(90deg);
  opacity: 0;
}

.paragraph.ng-leave.ng-leave-active {
  display: none;
}

.paragraph.ng-enter.ng-enter-active,
.paragraph.ng-move.ng-move-active {
  opacity: 1;
  -webkit-transform: rotateX(0deg) rotateZ(0deg);
  -moz-transform: rotateX(0deg) rotateZ(0deg);
  -ms-transform: rotateX(0deg) rotateZ(0deg);
  -o-transform: rotateX(0deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateZ(0deg);
}

.data-creator em, .data-creator input, .data-creator textarea, .data-creator pre { font-family: monospace; }
.data-creator select { margin-bottom: 1em; }
.data-creator textarea { display: block; margin-bottom: 1em; min-height: 200px; width: 640px; max-width: 80%; }
